<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="@Url.Action("Index","Home")">Bon Afpétit ! Administration Restaurant</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarRight" aria-controls="navbarRight" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarRight">
            <ul class="navbar-nav ml-auto">
                @{
                    if (Session["restaurant"] != null)
                    {
                        Afpetit_Back_Resto.Models.Restaurant restaurant = (Afpetit_Back_Resto.Models.Restaurant)Session["restaurant"];
                        if (restaurant != null)
                        {
                            <li class="nav-item active px-1">
                                <a class="nav-link btn btn-outline-secondary" href="@Url.Action("Index","Produits")">Mes Produits</a>
                            </li>
                            <li class="nav-item active px-1">
                                <a class="nav-link btn btn-outline-secondary" href="@Url.Action("Details","Restaurants")">Détail</a>
                            </li>
                            <li class="nav-item active px-1">
                                <a class="nav-link btn btn-outline-secondary" href="@Url.Action("Edit","Restaurants")">Edit</a>
                            </li>
                            <span class="navbar-text px-1">
                                @restaurant.Nom
                            </span>
                        }
                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Connexion", "Connexion", "Restaurants", null, new { @class = "nav-link" })
                        </li>
                    }
                }
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mon application ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
